<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>thinhtpt.filter.DispatchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SearchPageFilter</filter-name>
        <filter-class>thinhtpt.filter.SearchPageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UpdateFilter</filter-name>
        <filter-class>thinhtpt.filter.UpdateFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CreateFilter</filter-name>
        <filter-class>thinhtpt.filter.CreateFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckoutPageFilter</filter-name>
        <filter-class>thinhtpt.filter.CheckoutPageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckoutFilter</filter-name>
        <filter-class>thinhtpt.filter.CheckoutFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SearchFilter</filter-name>
        <filter-class>thinhtpt.filter.SearchFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CartInfoFilter</filter-name>
        <filter-class>thinhtpt.filter.CartInfoFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>thinhtpt.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>thinhtpt.filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CreatePageFilter</filter-name>
        <filter-class>thinhtpt.filter.CreatePageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ShoppingFilter</filter-name>
        <filter-class>thinhtpt.filter.ShoppingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TemplateFilter</filter-name>
        <filter-class>thinhtpt.filter.TemplateFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/checkout.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/checkoutinvalid.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/AddToCartServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/CheckoutServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/DeleteCartSerlvet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/SendMomoPaymentServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/ProcessMomoPaymentServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/ProcessNganLuongCancelServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/ProcessNganLuongPaymentServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/SendNganLuongPaymentServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ShoppingFilter</filter-name>
        <url-pattern>/cart.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/TrackOrderServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/CreateCakeServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/LoadCakesServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/RenderUpdatePageServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/UpdateCakeServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/createinvalid.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/create.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/erroradmin.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/update.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/updateinvalid.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CreatePageFilter</filter-name>
        <url-pattern>/create.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CreatePageFilter</filter-name>
        <url-pattern>/createinvalid.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SearchPageFilter</filter-name>
        <url-pattern>/search.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UpdateFilter</filter-name>
        <url-pattern>/UpdateCakeServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CreateFilter</filter-name>
        <url-pattern>/CreateCakeServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartInfoFilter</filter-name>
        <url-pattern>/cart.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartInfoFilter</filter-name>
        <url-pattern>/checkout.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartInfoFilter</filter-name>
        <url-pattern>/checkoutinvalid.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CartInfoFilter</filter-name>
        <url-pattern>/CheckoutServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckoutPageFilter</filter-name>
        <url-pattern>/checkout.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckoutPageFilter</filter-name>
        <url-pattern>/checkoutinvalid.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckoutFilter</filter-name>
        <url-pattern>/CheckoutServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SearchFilter</filter-name>
        <url-pattern>/SearchServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TemplateFilter</filter-name>
        <url-pattern>/templates/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>thinhtpt.listener.MyContextServletListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--Site map-->
    <context-param>
        <param-name>site-map-location</param-name>
        <param-value>WEB-INF/sitemap.txt</param-value>
    </context-param>
    <!--Google setting-->
    <context-param>
        <param-name>client-id</param-name>
        <param-value>858265005924-k3mu82si52ikvmue1rdf50g7tpd66cpg.apps.googleusercontent.com</param-value>
    </context-param>
    <!--Log4J setting-->
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <!--Ngan Luong config-->
    <context-param>
        <param-name>merchant-site-code</param-name>
        <param-value>49576</param-value>
    </context-param>
    <context-param>
        <param-name>secure-pass</param-name>
        <param-value>cd08eefc2e3d88faca6b8a6b2e273e7e</param-value>
    </context-param>
    <error-page>
        <error-code>503</error-code>
        <location>/ProcessErrorServlet</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/ProcessErrorServlet</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ProcessErrorServlet</location>
    </error-page>
</web-app>
